body{
    font-family:'Times New Roman', Times, serif;
}
.site-heading-lower{
    font-family: 'Times New Roman', Times, serif;
    color: navy;
}
.mb-3{
    font-family: 'Times New Roman', Times, serif;
    color: lightgoldenrodyellow !important;
}
.notyellow{
    color: black !important;
}
.intro-text{
    box-shadow: 5px 5px 10px navy;
}
